.button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;

  height: 56px;
  width: 100%;

  border: 3px solid rgb(41, 41, 41);
  background: rgb(41, 41, 41);
  border-radius: 40px;

  transition: transform 0.5s;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;

    color: rgb(41, 41, 41);
    background: #fff;
  }

  &:active {
    color: rgb(255, 255, 255);
    background: rgb(17, 17, 17);
  }
}